[submodule "vim-pathogen"]
	path = vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-rails"]
	path = bundle/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = git://github.com/tpope/vim-cucumber.git
[submodule "bundle/vim-endwise"]
	path = bundle/vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = git://github.com/msanders/snipmate.vim.git
[submodule "bundle/pyflakes-vim"]
	path = bundle/pyflakes-vim
	url = git://github.com/kevinw/pyflakes-vim.git
[submodule "bundle/tcomment_vim"]
	path = bundle/tcomment_vim
	url = git://github.com/tomtom/tcomment_vim.git
[submodule "bundle/vim-indent-guides"]
	path = bundle/vim-indent-guides
	url = git://github.com/nathanaelkane/vim-indent-guides.git
[submodule "bundle/vim-rake"]
	path = bundle/vim-rake
	url = git://github.com/tpope/vim-rake.git
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/VST"]
	path = bundle/VST
	url = git://github.com/vim-scripts/VST.git
[submodule "bundle/vim-matchit"]
	path = bundle/vim-matchit
	url = git://github.com/tsaleh/vim-matchit.git
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
[submodule "bundle/vim-javascript"]
	path = bundle/vim-javascript
	url = git://github.com/pangloss/vim-javascript.git
[submodule "bundle/vim-python-ftplugin"]
	path = bundle/vim-python-ftplugin
	url = git://github.com/tarmack/vim-python-ftplugin.git
[submodule "bundle/python.vim--Vasiliev"]
	path = bundle/python.vim--Vasiliev
	url = git://github.com/vim-scripts/python.vim--Vasiliev.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = git://github.com/skammer/vim-css-color.git
[submodule "bundle/handlebars"]
	path = bundle/handlebars
	url = git://github.com/nono/vim-handlebars.git
[submodule "bundle/scss-syntax.vim"]
	path = bundle/scss-syntax.vim
	url = git://github.com/cakebaker/scss-syntax.vim.git
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "bundle/vim-powerline"]
	path = bundle/vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
